body {
  font-weight: 300;
  font-family: $primary-font;
  margin: 0;
  padding: 0;
  font-size: 15px;
  overflow-x: hidden;
}

// Container Style
.container {
  max-width: 100%;
  margin: 0px -15px;
  max-width: 1002px;
  margin: 0 auto;
}

a {
  color: $tertiary;
  text-decoration: none;
}

// Vertical Middle
.vertical_middle {
  display: flex;
  align-items: center;
}

// Common section padding
.section_padding {
  padding: 80px 0px;

  @include ipad {
    padding: 40px 0px;
  }
}

// Secondary Background Color
.secondary-bg {
  background: $secondary;
}

// Shop Background
.bg-white {
  background: $white;
}

// White color
.white {
  color: $white;
}

// Black color
.black {
  color: $black;
}

// Gray color
.gray {
  color: $gray;
}

// Invalid feedback
.invalid-feedback {
  color: #dc3545;
}

.no-found {
  color: $secondary;
  font-size: 14px;
}

// Reset css
a {
  outline: none !important;
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

.loading_spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba($color: #fff, $alpha: 0.7);
  width: 100%;
  height: 100%;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 33;
}

.custom_btn {
  outline: none;
  border: none;
  width: 150px;
  height: 40px;
  text-align: center;
  background: $primary;
  font-size: 15px;
  border-radius: 3px;
  color: $white;
  text-decoration: none;
  transition: $transition;

  &.primary {
    background-color: $primary;
  }

  &.secondary {
    background-color: $secondary;
  }

  &.tertiary {
    background-color: $tertiary;
  }

  &.outline {
    background-color: $white;
    color: $tertiary;
    border: 1px solid $border;
    box-shadow: none;

    &:hover {
      color: $tertiary;
      border: 1px solid $border;
    }
  }

  &.status-btn {
    box-shadow: none;
    color: $black;
    height: 35px;
    min-width: 100px;
    font-size: 12px;

    &:hover {
      color: $black;
    }
  }

  &.lite-green {
    background-color: #d8f2e4;
  }

  &.lite-red {
    background-color: #ecd5d8;
  }

  &.lite-blue {
    background-color: #d9e5f1;
  }

  &.lite-orange {
    background-color: #f2edd9;
  }

  &:focus {
    border: none;
    outline: none;
    box-shadow: $shadow;
  }

  &:hover {
    color: $white;
  }

  &:disabled {
    background-color: $border;
    color: $tertiary;
    box-shadow: none;
    cursor: not-allowed;

    &:hover {
      background-color: $border;
      color: $tertiary;
    }
  }
}

// Effect
.item-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba($color: $primary, $alpha: 0.7);
  top: 100%;
  left: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease 0s;
  -webkit-transition: 0.5s all ease 0s;
  -moz-transition: 0.5s all ease 0s;
  -o-transition: 0.5s all ease 0s;
}

.item-layer-effect {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba($color: $primary, $alpha: 0.7);
  top: -100%;
  left: -100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease 0s;
  -webkit-transition: 0.5s all ease 0s;
  -moz-transition: 0.5s all ease 0s;
  -o-transition: 0.5s all ease 0s;
}

.section_heading {
  display: block;
  width: 100%;
  padding: 50px 0px;

  @include ipad {
    padding: 30px 0px;
  }

  h3 {
    font-size: 32px;
    margin-bottom: 10px;
    line-height: 40px;
    position: relative;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;

    @include ipad {
      font-size: 22px;
      line-height: 30px;
      margin-bottom: 5px;
    }

    &:after {
      position: absolute;
      bottom: -10px;
      left: 0;
      content: "";
      background: $primary;
      height: 3px;
      width: 50%;
    }
  }
}

.custom_thumb {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 0;
  .inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.support_section {
  background-color: #f8f8f8;
  .support_item {
    padding: 25px;
    background: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    box-shadow: $shadow;

    &:hover {
      h6 {
        color: $primary;
      }
    }

    h6 {
      margin-bottom: 5px;
      transition: $transition;
    }
    &.two {
      background: #f3f3f3;
    }
    &.three {
      background: #f4f4f4;
    }
  }
}

// Modal styles
.modal {
  .heading-title {
    font-size: 24px;
    line-height: 35px;
    color: $tertiary;
    font-weight: 700;
    text-align: center;
  }

  .modal-content {
    position: relative;

    .close-modal {
      position: absolute;
      top: 15px;
      right: 15px;
      cursor: pointer;
    }
  }
}

.modal-wrapper {
  .modal-dialog {
    max-width: 580px;
    margin: 0 auto;
  }

  .modal-common-content {
    .text {
      color: $tertiary;
      font-size: 15px;
      line-height: 24px;
      font-weight: 500;
    }
  }
}

.social_links {
  li {
    cursor: pointer;
    margin-right: 7px;
    i {
      width: 34px;
      height: 34px;
      line-height: 34px;
      text-align: center;
      color: $white;
      transition: $transition;
      border-radius: 5px;
      font-size: 14px;
      background: $tertiary;
      &:hover {
        background: $primary;
      }
    }
  }
}
