//== Color Variables
$primary: #ff5900;
$secondary: #e1b73a;
$tertiary: #333333;
$bg-gray: #f1f1f1;
$bg-orange: #edb75d;
$gray: #999;
$black: #000;
$white: #fff;
$green: #39a24a;
$red: #e81a15;
$border: #ceced0;
$shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
$radius: 5px;
$transition: all ease-in-out 0.6s;

//== Typography

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

//== Font Family
$primary-font: "Roboto", sans-serif;
